html {
    background: url('./grill-fire.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    padding: 0;
    margin: 0;

}

.content {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr) 2fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;
}

.navbar {
    grid-area: 2 / 2 / 3 / 5;
    display: flex;
    
    
}

.navbar button {
    flex: 1;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
    color: darkred;

}

.main {
    grid-area: 3 / 2 / -1 / 5;
    
    
}

.main, .navbar button {
    border: 3px solid darkred;
    background-color: rgba(40,40,40,1);
}